<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div>
    <p>
        用户名：<input type="text" id="username" name="username" value=""/></br>
    </p>
    <p>
        密码：<input type="password" id="password" name="password" value=""/></br>
    </p>
    <p>
        <input type="submit" value="登录" onclick="login()">
    </p>

    <p>
        if u have not a account , please register here.<a href="/toRegister">register</a>
    </p>

</div>
</body>
<script language=javascript type=text/javascript>
    function login() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if (username == "") {
            alert("用户名不能为空");
            return false;
        }
        if (password == "") {
            alert("密码不能为空");
            return false;
        }
        var jsonObj = {"username": username, "password": password};
        $.ajax({
            url: '/login',
            type: 'post',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(jsonObj),
            success: function (data) {
                if(data.code !=200){
                    alert(data.message);
                }else {
                    window.location.href ="/";
                }
            },
            error: function (data) {
                alert("登录失败！");
            }
        })
    }
</script>
</html>